---
import LayoutMeraki from "../layouts/LayoutMeraki.astro";
import SocialLinks from '../components/SocialLinks.jsx';
---

<LayoutMeraki title="Libros de Gera Meraki">
  <section class="min-h-screen bg-[#080414]">
    <div class="flex justify-center">
      <img
        class="w-40 mt-5"
        src="/Gera-Meraki.webp"
        alt="Gera Meraki imagen de perfil"
      />
    </div>
    <div class="flex flex-col justify-center items-center mx-6 mt-8 pb-12">
      <h2 class="text-white text-xl font-bold font underline pb-5">
        Libros que abrazan el alma
      </h2>

    <p class="text-center max-w-2xl mx-auto text-lg leading-relaxed text-gray-800 dark:text-gray-200">
      Cada uno de estos libros nació de una herida: de silencios que dolían, de despedidas sin respuestas, de aprender a soltar cuando el corazón aún quería quedarse.
      No están hechos para darte todas las respuestas, sino para acompañarte mientras encuentras las tuyas.
    </p>
    <p class="text-center max-w-2xl mx-auto mt-4 text-lg leading-relaxed text-gray-800 dark:text-gray-200">
      Si estás sanando, si te duele o si simplemente quieres volver a ti, tal vez aquí encuentres justo las palabras que necesitabas leer.
    </p>

      <a
        href="https://buy.stripe.com/14k8AA4c0aVOfV6aEI"
        class="w-full max-w-2xl mt-6 p-10 py-2 text-white text-center rounded-2xl border-2 border-[#ffec3c] bg-transparent hover:border-yellow-400 hover:text-gray-300"
      >
        💖 21 días para amarte más que nunca
      </a>
      <a
        href="https://buy.stripe.com/28ocQQaAo7JC24g3cf"
        class="w-full max-w-2xl mt-6 p-10 py-2 text-white text-center rounded-2xl border-2 bg-transparent hover:border-gray-300 hover:text-gray-300"
      >
        ❤️‍🩹 El Amor no existe
      </a>
      <a
        href="https://buy.stripe.com/4gweYY6k81leeR2146"
        class="w-full max-w-2xl mt-6 p-10 py-2 text-white text-center rounded-2xl border-2 bg-transparent hover:border-gray-300 hover:text-gray-300"
      >
        🤍 El Camino del perdón
      </a>
      <h2 class="mt-6 text-white text-xl font-bold font underline">
        Contacto / Colaboraciones
      </h2>
      <a
        href="mailto:gera.meraki@gmail.com"
        class="w-full max-w-2xl mt-6 p-10 py-2 text-white text-center rounded-2xl border-2 bg-transparent hover:border-gray-300 hover:text-gray-300"
      >
        gera.meraki@gmail.com
      </a>
      <h2 class="text-white text-xl font-bold font underline pb-5 mt-6">
        Sígueme en mis redes
      </h2>
      <SocialLinks />
  </section>  
</LayoutMeraki>
